$accentColor: #f16d7f;
$accentColorDark: darken($color: $accentColor, $amount: 5);

$buttonTransition: 0.3s;

body {
    margin: 0;
    padding: 0;
    color: #222222;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.container {
    width: 1140px;
    margin: auto;
}

a {
    text-decoration: none;
}

button {
    transition: $buttonTransition;
}



/*заголовок New Arrivals хлебные крошки*/
.cart-head {
	height: 148px;
	background-color: #f8f3f4;
}

.cart-head-content {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-head-content h1 {
	font-size: 24px;
	line-height: 20px;
	font-weight: 900;
	text-transform: uppercase;
	color: $accentColor;
}

.cart-head-content p {
	font-size: 14px;
	line-height: 20px;
	font-weight: 300;
	text-transform: uppercase;
	color: #636363;
}

.cart-head-content>p>span {
	font-weight: 700;
	color: $accentColor;
}
